<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tool_holder">
    <xacro:macro name="tool_holder" params="name">
        <xacro:arg name="name" default="tool"/>
        
        <link name="${name}_tool_holder_link">
            <inertial>
              <origin rpy="0 0 0" xyz="0.0 0.0075 0.0"/>
              <mass value="0.058579061972031825"/>
              <inertia ixx="1.2e-05" ixy="-0.0" ixz="-0.0" iyy="2.4e-05" iyz="0.0" izz="1.2e-05"/>
            </inertial>
            <visual>
              <origin rpy="0 0 0" xyz="0 0 0.003"/>
              <geometry>
                <mesh filename="package://micro_resector_description/meshes/tools/tool_holder.dae"/>
              </geometry>
            </visual>
            <collision>
              <origin rpy="0 0 0" xyz="0 0 0.003"/>
              <geometry>
                <mesh filename="package://micro_resector_description/meshes/tools/tool_holder.stl"/>
              </geometry>
            </collision>
        </link>

        <joint name="${name}_joint" type="fixed">
            <parent link="${name}_tool_holder_link"/>
            <child link="${name}_tool_attachment_link"/>
            <origin xyz="-0.067062 -0.006575 0.003" rpy="${pi} 0 ${-159.0 * pi/180}"/>
        </joint>

        <link name="${name}_tool_attachment_link"/>
    </xacro:macro>
</robot>