<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stage">
    
    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
    <xacro:arg name="prefix" default="x"/>
    <link name="base_link"/>

    <xacro:include filename="$(find micro_resector_description)/urdf/materials.xacro" />
    <!-- <xacro:include filename="$(find micro_resector_description)/urdf/tweezer_system.xacro" /> -->
    <xacro:include filename="$(find micro_resector_description)/urdf/scalpel_system.xacro"/>
    <xacro:include filename="$(find micro_resector_description)/urdf/sample_holder_system.xacro"/>
    <xacro:include filename="$(find micro_resector_description)/urdf/tools/microscope_camera.xacro"/>

    <!-- <joint name="tweezer_to_base" type="fixed">
        <parent link="base_link"/>
        <child link="tweezer_system_base_link"/>
        <origin xyz="0.15 0.0 0.00" rpy="0 0.0 ${pi}"/>
    </joint>
    
    <xacro:tweezer_system hardware_interface="$(arg hardware_interface)">
    </xacro:tweezer_system> -->

    <joint name="scalpel_to_base" type="fixed">
        <parent link="base_link"/>
        <child link="scalpel_system_base_link"/>
        <origin xyz="-0.0990 -0.037525 0.005" rpy="0.0 0.0 0.0"/>
    </joint>
    
    <xacro:scalpel_system hardware_interface="$(arg hardware_interface)">
    </xacro:scalpel_system>

    <joint name="sample_holder_to_base" type="fixed">
        <parent link="base_link"/>
        <child link="sample_holder_base_link"/>
        <origin xyz="0 0 0.00" rpy="0 0.0 0.0"/>
    </joint>

    <xacro:sample_holder hardware_interface="$(arg hardware_interface)">
    </xacro:sample_holder>

    <joint name="camera_joint" type="fixed">
        <origin xyz="0 0 0.1" rpy="0 ${pi/2} 0"/>
        <parent link="base_link"/>
        <child link="camera_link"/>
    </joint>

    <xacro:microscope_camera type="mono"/>

    <joint name="sample_joint" type="fixed">
        <parent link="sample_link"/>
        <child link="brain_slice_base_link"/>
        <origin xyz="0 0.0 0.0005" rpy="0 0.0 0.0"/>
    </joint>
    <xacro:include filename="$(find micro_resector_description)/urdf/samples/brain_slice.urdf.xacro"/>

    <xacro:include filename="$(find micro_resector_description)/urdf/full_setup.gazebo.xacro"/>
</robot>
