<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="scalpel_system">
    
    <xacro:include filename="$(find micro_resector_description)/urdf/stage/linear_stage.xacro"/>
    <xacro:include filename="$(find micro_resector_description)/urdf/link/l_bracket.xacro"/>
    <xacro:include filename="$(find micro_resector_description)/urdf/tools/scalpel.xacro"/>

    <xacro:macro name="scalpel_system" params="hardware_interface">
        <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
        <xacro:arg name="prefix" default="x"/>
        <link name="scalpel_system_base_link"/>

        <joint name="scalpel_x_linear_stage_world_joint" type="fixed">
            <parent link="scalpel_system_base_link"/>
            <child link="scalpel_x_lin_base_link"/>
            <origin xyz="0.0 0.0 0.00" rpy="${pi/2} 0.0 0.0"/>
        </joint>
        
        <xacro:linear_stage hardware_interface="$(arg hardware_interface)" prefix="scalpel_x">
        </xacro:linear_stage>

        <joint name="scalpel_y_linear_stage_joint" type="fixed">
            <parent link="scalpel_x_lin_stage_link"/>
            <child link="scalpel_y_lin_base_link"/>
            <origin xyz="0.0 0.0 0.00" rpy="0.0 ${pi/2} 0.0"/>
        </joint>
        
        <xacro:linear_stage hardware_interface="$(arg hardware_interface)" prefix="scalpel_y">
        </xacro:linear_stage>

        <joint name="scalpel_l_bracket_joint" type="fixed">
            <parent link="scalpel_y_lin_stage_link"/>
            <child link="scalpel_z_bracket_base_link"/>
            <origin xyz="0.0 0.0 0.00" rpy="0.0 ${pi/2} 0.0"/>
        </joint>

        <xacro:l_bracket prefix="scalpel_z">
        </xacro:l_bracket>

        <joint name="scalpel_z_linear_stage_joint" type="fixed">
            <parent link="scalpel_z_bracket_side_link"/>
            <child link="scalpel_z_lin_base_link"/>
            <origin xyz="0.0 0.0 0.00" rpy="0.0 ${pi/2} 0.0"/>
        </joint>
        
        <xacro:linear_stage hardware_interface="$(arg hardware_interface)" prefix="scalpel_z">
        </xacro:linear_stage>

        <joint name="scalpel_joint" type="fixed">
            <parent link="scalpel_z_lin_stage_link"/>
            <child link="scalpel_z_scalpel_base_link"/>
            <origin xyz="0.0 0.0 0.00" rpy="0.0 0.0 0.0"/>
        </joint>
        
        <xacro:scalpel prefix="scalpel_z">
        </xacro:scalpel>
    </xacro:macro>
    

</robot>
