<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="micro_resector">
    
    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
    <xacro:arg name="prefix" default="x"/>
    <xacro:arg name="virtual_joints" default="false"/>
    <xacro:arg name="camera" default="true"/>

    <link name="base_link"/>

    <xacro:include filename="$(find micro_resector_description)/urdf/materials.xacro" />

    <xacro:include filename="$(find micro_resector_description)/urdf/scalpel_system.xacro" />
    <xacro:include filename="$(find micro_resector_description)/urdf/tweezer_system.xacro" />

        <joint name="scalpel_to_base" type="fixed">
            <parent link="base_link"/>
            <child link="scalpel_system_base_link"/>
            <origin xyz="0 0 0" rpy="0 0.0 0"/>
        </joint>

    <xacro:scalpel_system hardware_interface="$(arg hardware_interface)" name="scalpel">
    </xacro:scalpel_system>

<!--    <joint name="tweezer_to_base" type="fixed">-->
<!--        <parent link="base_link"/>-->
<!--        <child link="tweezer_system_base_link"/>-->
<!--        <origin xyz="0 0 0" rpy="0 0.0 0"/>-->
<!--    </joint>-->

<!--    <xacro:tweezer_system hardware_interface="$(arg hardware_interface)" name="tweezer">-->
<!--    </xacro:tweezer_system>-->



</robot>
