<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:include filename="$(find micro_resector_description)/urdf/stage/linear_stage.xacro"/>
    <xacro:include filename="$(find micro_resector_description)/urdf/link/l_bracket.xacro"/>
    <xacro:include filename="$(find micro_resector_description)/urdf/tools/tweezer_reinforced.xacro"/>
    <xacro:include filename="$(find micro_resector_description)/urdf/tools/tweezer_assembly.xacro"/>

    <xacro:macro name="tweezer_system" params="hardware_interface name">
<!--        <xacro:arg name="hardware_interface" default="PositionJointInterface"/>-->
<!--        <xacro:arg name="name" default="tweezer"/>-->

        <link name="${name}_system_base_link"/>

        <joint name="${name}_x_linear_stage_world_joint" type="fixed">
            <parent link="${name}_system_base_link"/>
            <child link="${name}_x_lin_base_link"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>

        <xacro:linear_stage hardware_interface="${hardware_interface}" prefix="${name}_x">
        </xacro:linear_stage>

        <joint name="${name}_y_linear_stage_joint" type="fixed">
            <parent link="${name}_x_lin_stage_link"/>
            <child link="${name}_y_lin_base_link"/>
            <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/>
<!--            <origin xyz="0.0 0.0 0.00" rpy="0.0 0.0 ${pi/2}"/>-->
        </joint>

        <xacro:linear_stage hardware_interface="${hardware_interface}" prefix="${name}_y">
        </xacro:linear_stage>

        <joint name="${name}_l_bracket_joint" type="fixed">
            <parent link="${name}_y_lin_stage_link"/>
            <child link="${name}_z_bracket_base_link"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0 ${pi/2}"/>
        </joint>

        <xacro:l_bracket prefix="${name}_z">
        </xacro:l_bracket>

        <joint name="${name}_z_linear_stage_joint" type="fixed">
            <parent link="${name}_z_bracket_side_link"/>
            <child link="${name}_z_lin_base_link"/>
            <origin xyz="0.0 0.0 0.00" rpy="0 0 -${pi/2}"/>
        </joint>

        <xacro:linear_stage hardware_interface="${hardware_interface}" prefix="${name}_z">
        </xacro:linear_stage>

        <xacro:tweezer_assembly>
        </xacro:tweezer_assembly>


        <joint name="tweezer_assembly_joint" type="fixed">
            <parent link="${name}_z_lin_stage_link"/>
            <child link="tweezer_tool_holder_link"/>
            <origin xyz="0 0.0001 -0.0004" rpy="${-pi/2} 0 ${pi/2}"/>
        </joint>
    </xacro:macro>
    

</robot>
